<template>
  <section class="hero is-link is-medium">
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li><a>Made with love by Juan Camargo</a></li>
            <li>2018</li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</template>

<script>
export default {
}
</script>

<style>
</style>
