<template>
  <section class="hero is-link is-medium">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item title is-1">
              Geo Sports
            </a>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a href="https://gitlab.com/juancamargo93/geo-sports-client" target="_blank" class="navbar-item">
                Repository client
              </a>
              <a href="https://gitlab.com/juancamargo93/geo-sports-webapp" target="_blank" class="navbar-item">
                Repository Api
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style>

</style>
