<template>
  <div>
    <div class="container is-fullhd">
      <div v-show="message.length > 0" class="notification is-primary">
        <button class="delete" @click.prevent="message = ''"></button>
        {{ message }}
      </div>
      <div class="notification">
        <div class="columns is-multiline">
          <div class="column is-6">
            <div class="box">
              <div class="has-text-centered control subtitle is-5">
                <p class="has-text-centered title is-5">Filter by gender</p>
                <label for="female" class="radio">
                  <input type="radio" id="female" value="female" v-model="gender" @change="filters">
                  Female
                </label>
                <label for="male" class="radio">
                  <input type="radio" id="male" value="male" v-model="gender" @change="filters">
                  Male
                </label>
                <label for="both" class="radio">
                  <input type="radio" id="both" value="both" v-model="gender" @change="filters">
                  Both
                </label>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="box">
              <p class="title is-5 has-text-centered">Filter by age</p>
              <div class="control has-text-centered">
                <div class="select">
                  <select name="filter_age" id="filter_age" v-model="age" @change="filters">
                    <option value="">Age</option>
                    <option :value="index" v-for="index in 99" :key="index">{{ index }}</option>
                  </select>
                </div>
                <div v-if="more_filters" class="select">
                  <select name="filter_age_second" id="filter_age_second" v-model="age_second" @change="filters">
                    <option value="">Age</option>
                    <option :value="index" v-for="index in 99" :key="index">{{ index }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-6 is-pulled-right">
            <div class="box">
              <div class="has-text-centered control subtitle is-5">
                <label class="checkbox" for="checkbox">
                  <input type="checkbox" id="checkbox" v-model="more_filters">
                  want to filter by age range?
                </label>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="box">
              <a class="button is-link box" @click.prevent="resetFilters">Reset filters</a>
            </div>
          </div>
        </div>
        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Users found</p>
              <p class="title">{{ count_users }}</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div id="map-container" class="container is-fullhd"></div>
    <div id="button-container" class="container is-fullhd has-text-centered">
      <a class="button is-large is-link" @click.prevent="show_users_country = show_users_country ? false : true">
        {{ show_users_country ? 'Hide users per country' : 'Show users per country' }}
      </a>
    </div>
    <nav v-show="show_users_country" class="level is-mobile">
      <div class="columns is-multiline" style="overflow-y: auto; height: 550px;">
        <div v-for="(user, index) in users" :key="index" class="column is-1 level-item has-text-centered">
          <div>
            <p class="heading">{{ subsName(user.name)}}</p>
            <p class="title">{{ user.count }}</p>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import apiUrl from '@/api/api-route'
import d3 from 'd3'
import datamaps from 'datamaps'
export default {
  name: 'all-geo-sport',
  data () {
    return {
      users: [],
      gender: 'both',
      age: '',
      age_second: '',
      more_filters: false,
      series: [],
      count_users: 0,
      show_users_country: false,
      message: ''
    }
  },
  created () {
    this.getUsers()
  },
  methods: {
    // request to the API to retrieve all users.
    getUsers () {
      // use the library vue-resource to make http requests.
      this.$http.get(`${apiUrl}/api/users`, {headers: { 'Access-Control-Allow-Origin': '*' }})
        .then((res) => {
          this.series = []
          this.users = []
          this.count_users = 0
          res.body.users.forEach((field, index, array) => {
            // count users found and push to the series and users array
            // series array that datamaps library will read
            this.count_users = this.count_users + field.count
            this.users.push({name: field._id.country_name, count: field.count})
            this.series.push([field._id.a3, field.count])
            if (index === array.length - 1) this.initMap()
          })
        })
        .catch((err) => {
          console.log(err)
        })
    },
    // request and send filters data
    filters () {
      if (this.more_filters && (this.age === '' || this.age_second === '')) {
        this.message = 'Select the other range'
      } else if (this.more_filters && (this.age > this.age_second)) {
        this.age = 15
        this.age_second = 30
        this.message = 'Can not be higher'
        this.request(apiUrl, this.gender, this.age, this.age_second, this.more_filters)
      } else {
        this.request(apiUrl, this.gender, this.age, this.age_second, this.more_filters)
      }
    },
    request (apiUrl, gender, filterAge, filterAgeSecond, moreFilters) {
      this.$http.post(`${apiUrl}/api/users`, {data: { gender: gender, filter_age: filterAge, filter_age_second: filterAgeSecond, more_filters: moreFilters }})
        .then((res) => {
          this.series = []
          this.users = []
          if (res.body.users.length === 0) {
            this.initMap()
          }
          this.count_users = 0
          res.body.users.forEach((field, index, array) => {
            // count users found and push to the series and users array
            // series array that datamaps library will read
            this.count_users = this.count_users + field.count
            this.users.push({name: field._id.country_name, count: field.count})
            this.series.push([field._id.a3, field.count])
            if (index === array.length - 1) this.initMap()
          })
        })
        .catch((err) => {
          console.log(err)
        })
    },
    initMap () {
      /* code got from Datamaps library */
      // We need to colorize every country based on "numberOfWhatever"
      // colors should be uniq for every value.
      // For this purpose we create palette(using min/max series-value)
      let dataset = {}
      let onlyValues = this.series.map((obj) => { return obj[1] })
      let minValue = Math.min.apply(null, onlyValues)
      let maxValue = Math.max.apply(null, onlyValues)
      // create color palette function
      // color can be whatever you wish
      let paletteScale = d3.scale.linear()
        .domain([minValue, maxValue])
        .range(['#e8efff', '#2D68E4']) // blue color
      // fill dataset in appropriate format
      this.series.forEach((item) => {
        let iso = item[0]
        let value = item[1]
        dataset[iso] = { numberOfThings: value, fillColor: paletteScale(value) }
      })

      // render map
      const DataMap = datamaps
      document.getElementById('map-container').innerHTML = ''
      let dmaps = new DataMap({
        element: document.getElementById('map-container'),
        projection: 'mercator', // big world map
        // countries don't listed in dataset will be painted with this color
        fills: { defaultFill: '#F5F5F5' },
        data: dataset,
        geographyConfig: {
          borderColor: '#DEDEDE',
          highlightBorderWidth: 2,
          // don't change color on mouse hover
          highlightFillColor: (geo) => {
            return geo['fillColor'] || '#F5F5F5'
          },
          // only change border
          highlightBorderColor: '#B7B7B7',
          // show desired information in tooltip
          popupTemplate: (geo, data) => {
            // don't show tooltip if country don't present in dataset
            if (!data) { return }
            // tooltip content
            return [`<div class='hoverinfo'>
                      <strong>${geo.properties.name}</strong>
                      <br>Users: <strong>${data.numberOfThings}</strong>
                    </div>`].join('')
          }
        }
      })
      console.log(dmaps)
    },
    resetFilters () {
      this.gender = 'both'
      this.age = ''
      this.age_second = ''
      this.more_filters = false
      this.getUsers()
    },
    subsName (name) {
      if (name.length > 12) return `${name.substring(0, 12)}...`
      return name
    }
  },
  watch: {
    // watch message varaible if this change it
    message () {
      setTimeout(() => {
        this.message = ''
      }, 4000)
    }
  }
}
</script>

<style>
#map-container {
  height: 870px;
}

#button-container {
  padding: 50px;
}

.notification {
  background-color: #f4f4f4;
}

.box {
  height: 100%;
}
</style>
