<template>
  <div id="app">
    <gs-header />
    <router-view/>
    <gs-footer />
  </div>
</template>

<script>
import GsHeader from '@/components/layout/Header.vue'
import GsFooter from '@/components/layout/Footer.vue'
export default {
  name: 'App',
  components: { GsHeader, GsFooter }
}
</script>

<style>
@import '../node_modules/bulma/css/bulma.css';
</style>
